env/
.DS_Store
demo
*__pycache__
medical_scribe/.DS_Store
medical_scribe/uploads/
interviews/data/
notes/data/
evaluations/pdf/
evaluations/pdf.zip
*temp*
standardized_patients/data/
interviews/mock_interviews/
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